@import url('https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Lobster&family=Nunito&family=Permanent+Marker&family=Poppins:wght@400;500&family=Roboto&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --prime:#3F4952;
    --btns:#F58560;
    --dark:#2E3E4E;
    --white:#F6F7F9;
    --f-color:#2696C5;

    --link-color:rgba(0, 0, 0, 0.747);
    --second-fff: rgba(255, 255, 255, 0.801);
    --link-fff: rgba(255, 255, 255, 0.7);
    --trisition:all .3s ease-in-out;
    --black:#000;
    --primary-font:'Josefin Sans', sans-serif;
    --lightColor: rgba(255, 255, 255, 0.2403);
    --navLinkHover:greenyellow;
    --iconcolors: #af8300;
    --ff : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 100%;
}
.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    font-family: var(--ff)
}
.container .h1-title{
    text-transform: uppercase;
    text-align: center;
    color: rgb(212, 95, 27);
    font-family:var(--ff);
    font-weight: 700;
    margin-bottom: 20px;
}

body{
    font-family: 'Nunito', sans-serif;
    /* background-color: rgba(0,0,0,.7); */
    background-color: var(--white);
    color: var(--f-color);
}
.navbar{
    /* max-width: 1000px; */
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    transition: var(--trisition);
}
.navbar .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar .logo{
    text-transform: capitalize;
    color:black;
    padding-left: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logo .img{
    width: 100%;
    height: 100%;
}
.navbar .links ul{
    display: flex;
}
.navbar .links ul li{
    padding: 10px;
}
.navbar .links ul li a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar .links ul li a:hover,
.navbar .logo:hover{
    cursor: pointer;
    color: var(--btns);
}
#menu,
#times
{
    color: var(--second-fff);
    font-size: 23px;
    display: none;
    cursor: pointer;
}
/* home page */
.home{
    height: 90vh;
    width: 100%;
    background: linear-gradient(to right,#2e3e4ea8 50%,rgba(0, 0, 0, 0.6) 50%),
    url(/img/Home.jpg) center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home .text{
    color: var(--white);
    width: 70%;
    margin-top: -100px;
    text-align: center;
    position: relative;
}
.home .text h1{
    font-size: 55px;
    font-weight: 800;
    font-family: var(--ff);
    text-transform: capitalize;
}
.home .text h3{
    margin-top: 8px;
    font-family: 'Charm', cursive;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: greenyellow;
}
.home .text .btn{
    padding: 8px 20px;
    display: inline-block;
    color:#fff;
    background-color: var(--f-color);
    margin-top: 15px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 15px 5px;
    transition: var(--trisition);
    border: 1px solid transparent;

}
.home .text .btn:hover{
    background-color: var(--dark);
    color: var(--white);
    font-weight: 600;
    border: 1px solid var(--btns);
}

.home .social-links{
    position: absolute;
    left: 40px;
    bottom: 70px;
    display: flex;
    flex-direction: column;
}
.home .social-links a{
    color:var(--link-fff);
    padding: 6px;
    font-size: 17px;
    transition: var(--trisition);
}
.home .social-links a:hover{
    color: var(--btns);
    transform: scale(1.4);
}
.home .name-home{
    position: absolute;
    color: var(--btns);
    font-family: 'Satisfy', cursive;
    bottom: 10px;
    right: 10px;
}
/* about */
.about{
    width: 100%;
    /* background:var(--dark); */
    padding: 50px 0;
}
.about .container .title .h1-title{
    margin-bottom: 5px;
}
.about .container .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}
.about .container .flex .img{
    /* flex: 1 1 22rem; */
    max-width: 300px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* border-radius: 100%; */
    box-shadow:0 0 10px var(--btns);
}
.about .container .flex .text p{
    line-height: 1.7;
    font-size: 20px;
    color: rgba(0, 0, 0, .6);
    /* color: rgba(255, 255, 255, 0.815); */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.about .container .flex .text{
    /* flex: 1 1 50rem; */
    max-width: 100%;
    flex: 1;
}
/* projects */
.projects{
    padding: 40px 0 80px;
    background-color: #080808;
    color: #fff;
    text-align: center;
    background:rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right,hsla(0, 0%, 0%, 0.91),rgba(0, 0, 0, 0.4)),
    url(/img/Cape\ Town.jpg) center center/cover;
    font-family: var(--ff);
}
.projects .container .title .box .line{
    width: 50px;
    background: #000;
}
.projects .container .title{
    margin-bottom: 20px;
}
.projects .container .title .h1-title{
    margin-bottom: 5px;
}
.projects .container h2{
    width: 80%;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 0;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.6;
    font-weight: normal;
}
.projects .container .card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /* padding: 20px; */
    gap: 30px;
    row-gap: 35px;
}
.projects .container .card .pro{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px white;
    position: relative;
}
.projects .container .card .pro:hover .links{
    bottom: 0;
}
.projects .container .card .pro .links{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding:8px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .2s ease-in-out;

}
.projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects .container .card .pro .links a{
    color: var(--black);
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trisition);
}
.projects .container .card .pro .links a i{
    margin-left: 5px;
}
.projects .container .card .pro .links a:hover{
    color: red;
}
.projects .container .card .pro img:hover{
    transform: scale(1.1);
    transition: var(--trisition);
}
.projects .container .title .box .line{
    background: var(--btns);
}
/* skills --------- */
.skills {
    padding: 40px 0;
}
.skills .container .title{
    margin-bottom: 40px;
}
.skills .container .title .h1-title{
    margin-bottom: 5px;
}
.skills .container .grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   padding-top: 30px;
  
}
.skills .container .grid .item .icon{
    color: black;
    font-size: 28px;
    margin-right: 8px;
}
.skills .container .grid .item .icon i{
    font-size: 29px;
}
.skills .container .grid .item .name{
    text-transform: capitalize;
    color: rgba(0, 0, 0, .6);
}
/* reviews ----------*/
.reviews{
    padding: 60px 0;
    background: radial-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .9))
    ,url(/img/s3.jpg) center center/cover;
    text-align: center;
    color: var(--second-fff);
  
}
.reviews .container{
    padding: 0 60px;
}

.reviews i{
    font-size: 40px;
    margin-bottom: 20px;
    color:var(--link-fff);
}
.reviews .autor{
    margin: 10px 0 0 0;
    color: var(--btns);
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.reviews .container .jop{
    font-size: 13px;
    border-bottom: 1px solid var(--lightColor);
    display: inline-block;
    text-transform: capitalize;
    font-style: italic;
}
.reviews .container h3{
    line-height: 1.6;
    padding: 0;
}
.reviews .container h3 span{
    text-transform: uppercase;
    color: rgb(21, 255, 0);
}



/* contact */
.contact{
    background: rgba(0, 0, 0, .02);
    color:var(--white);
    padding: 40px 0;
}
.contact .container .title .h1-title{
    margin-bottom: 5px;
}
 .container .title{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .container .title .line{
    height: 2px;
    width: 35px;
    background:var(--btns);
}
 .container .title .box{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   gap: 10px;
}
 .container .title .box i{
    color: var(--btns);
}
.contact .container form{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}
.contact .container form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
    /* width: 100%; */
}
.contact .container form div input,textarea,.ps{
    padding: 14px;
    border: 1px solid rgba(0, 0, 0, .4);
    outline: none;
    font-family: var(--ff);
    width: 100%;
}
.contact .ps{
    margin-bottom: 10px;
}
.contact .container form textarea,.ps{
    width: 100%;
}
.contact .container form .btn{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .4);
    transition: var(--trisition);
    cursor: pointer;
}
.contact .container form .btn:hover{
    background: rgba(0, 0, 0, .1);
}

.footer{
    background: #000;
    color: white;
}
.footer .container .hr{
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
}
.footer .container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.footer .container div span{
    font-size: 22px;
}
.footer .container div span i{
    color: var(--f-color);
}


.home .text .btn:hover{
    background-color: var(--dark);
    color: var(--white);
    font-weight: 600;
    border: 1px solid var(--btns);
}

/* footer */
footer{    
 text-align: center;
 padding: 10px;
 font-size: 12px;
 font-family: satisfy;
}
footer a{
    color: var(--dark);
}

.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}





@media(max-width:800px){
    #menu,#times{
        display: block;
        color: black;
    }
    .navbar .links{
        position: fixed;
        background-color: var(--f-color);
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 0 50px;
        box-sizing: border-box;
        transform: translateX(-100%);
        transition: var(--trisition);
    }
    .navbar .links.active{
        transform: translateX(0);
    }
    .navbar .links ul{
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    .navbar .links ul li{
        border-bottom: 1px solid var(--lightColor);
    }
    .navbar .links ul li a:hove{
        color: var(--btns);
    }
    .navbar #times{
        position: absolute;
        right:40px;
        top: 40px;
    }
}



@media(max-width:740px){
    .about .container .flex{
        flex-direction: column;
    }
}
@media(max-width:602px){

    .reviews .container h3{
        line-height: 1.6;
        font-size: 15px;
        width: 100%;
    }
    .reviews .container{
        padding: 0 20px;
    }
    .container{
        padding: 20px;
    }
}
